@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: 'Josefin Sans', sans-serif;
}

body {
    background:url("https://github.com/Sedatcorte/sedatcorte.github.io/blob/master/arkapln.gif?raw=true") 0 0 no-repeat fixed;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
            
}


.wrapper .btn{
  margin: 15px;
  border: 2px solid #ffd324;
  width: 200px;
  height: 45px;
  text-align: center;
  line-height:     45px;
  position: relative;
  overflow: hidden;
}

.wrapper .btn a{
  color: #ffd324;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  display: block;
  position: relative;
  z-index: 999;
  font-weight: bold;
  transition: all 0.5s ease;
}

.wrapper .btn a:hover{
  color: #30333A;
}

.wrapper .btn.btn_1:before{
  content: "";
  position: absolute;
  top: -60px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffd324;
  transform: skewY(10deg);
  transition: all 0.5s ease;
}

.wrapper .btn.btn_1:after{
  content: "";
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffd324;
  transform: skewY(10deg);
  transition: all 0.5s ease;
}

.wrapper .btn.btn_1:hover:before{
  top: -20px;
}
.wrapper .btn.btn_1:hover:after{
  top: 20px;
}

.wrapper .btn.btn_2:before{
  content: "";
  position: absolute;
  top: -60px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffd324;
  transform: skewY(-10deg);
  transition: all 0.5s ease;
}

.wrapper .btn.btn_2:after{
  content: "";
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffd324;
  transform: skewY(-10deg);
  transition: all 0.5s ease;
}

.wrapper .btn.btn_2:hover:before{
  top: -20px;
}
.wrapper .btn.btn_2:hover:after{
  top: 20px;
}
.wrapper .btn.btn_3:before{
  content: "";
  position: absolute;
  top: -60px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffd324;
  transform: skewY(10deg);
  transition: all 0.5s ease;
}

.wrapper .btn.btn_3:after{
  content: "";
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffd324;
  transform: skewY(10deg);
  transition: all 0.5s ease;
}

.wrapper .btn.btn_3:hover:before{
  top: -20px;
}
.wrapper .btn.btn_3:hover:after{
  top: 20px;
}
.wrapper .btn.btn_4:before{
  content: "";
  position: absolute;
  top: -60px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffd324;
  transform: skewY(-10deg);
  transition: all 0.5s ease;
}

.wrapper .btn.btn_4:after{
  content: "";
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffd324;
  transform: skewY(-10deg);
  transition: all 0.5s ease;
}

.wrapper .btn.btn_4:hover:before{
  top: -20px;
}
.wrapper .btn.btn_4:hover:after{
  top: 20px;
}
.wrapper .btn.btn_5:before{
  content: "";
  position: absolute;
  top: -60px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffd324;
  transform: skewY(-10deg);
  transition: all 0.5s ease;
}
.wrapper .btn.btn_5:before{
  content: "";
  position: absolute;
  top: -60px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffd324;
  transform: skewY(10deg);
  transition: all 0.5s ease;
}

.wrapper .btn.btn_5:after{
  content: "";
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffd324;
  transform: skewY(10deg);
  transition: all 0.5s ease;
}

.wrapper .btn.btn_5:hover:before{
  top: -20px;
}
.wrapper .btn.btn_5:hover:after{
  top: 20px;
}